<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="BookCatalog" connectionString="Data Source=BUT-A-PC\SQLEXPRESS;Initial Catalog=BookCatalog.DataBase;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True" />
  </connectionStrings>
</configuration>