<div class="row">
    <table id="bookTable" class="table table-striped thead-dark">
        <thead>
            <tr>
                <th>Name</th>
                <th>Page Count</th>
                <th>Release Date</th>
                <th>Rate</th>
                <th>Authors</th>
                <th>Actions</th>
            </tr>
        </thead>
    </table>
</div>