<div class="row">
    <table id="authorTable" class="table table-striped thead-dark">
        <thead>
            <tr>
                <th>Name</th>
                <th>Book Count</th>
                <th>Actions</th>
            </tr>
        </thead>
    </table>
</div>